
<div class="container">
    <div class=" headers-container-row">
        <div class="row">
            <div class="col-sm-12 col-sm-offset-0 col-md-8 offset-md-2 col-lg-8 col-lg-offset-2 p-5">
                <div class="headers">
                    <h5 class="headers-sub">Need coffee?</h5>
                    <h3 class="headers-hero">Order your good tasting coffee</h3>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row actions-row">
        <div class="col-sm-12 col-sm-offset-0 col-md-8 offset-md-4 col-lg-6 col-lg-offset-3">
            <div class="actions-container">
                <div class="round">

                </div>
                <div class="actions-form p-5">
                    <h5 class="actions-form-header">Sign up to get your order</h5>
                    <div class="action-form-buttons">
                        <button routerLink="/signup" type="button" class="btn btn-danger action-button">Sign up</button>
                        <button routerLink="/login" type="button" class="btn btn-danger action-button">Login</button>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

</div>


<!--Background coffee bean-->
<div class="bean-container">
    <img src="../../../assets/images/coffebeanvector.png" alt="coffeebean" class="bean-image">
</div>

