.cart-overlay{
    height: 100vh;
    width: 100vw;
    background-color: #4e2f2cb7;
    position: fixed;
    top:0;
    left: 0;
    z-index:19
}
.full-page-cart{
    width: 25%;
    position: fixed;
    right: 0;
    top:0;
    height: 100%;
    transition: all 0.7s ease;
    background-color: #4e2f2c;
    z-index: 20;
}
.cart-deactive{
    right: -25%;
}
.cart-button{
    width: 64px;
    height: 64px;
    background-color: #4e2f2c;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    position: absolute;
    top:80%;
    left: -64px;
    transition: all 0.2s;
}
.cart-button:hover{
    width: 80px;
    left: -80px;
}

.cart-header{
    color: #C87D39;
    margin-top:5vh;
    text-align: left;
    padding-left: 30px;
}
.cart-list{
    list-style: none;
}
.cart-item{
    border-bottom: 1px solid #B7AC9B;
    padding: 10px 0;
}
.cart-item-header{
    color: #FFB8B8;
    
}
.cart-item-count{
    color:#B7AC9B;
    padding-left: 60px;

}
.cart-buy-button{
    color: white;
    background-color: #C87D39;
    border: inherit;
    width: 80%;
    margin-left: 10%;
    position: absolute;
    bottom: 80px;
}
.cart-icon{
    color:#C87D39;
    padding: 15px 10px;
}
.close-icon{
    color:#C87D39;
    padding: 15px 25px;
}
// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { 
    .full-page-cart{
        width: 60%;
        position: fixed;
        right: 0;
        top:0;
        height: 100%;
    
        background-color: #4e2f2c;
        z-index: 20;
    }
    .cart-deactive{
        right: -60%;
    }
}