<div class="container">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-12 header p-5">
                <h1 class="signup-header">Login</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 p-5 pb-2 pt-0">
                <app-message-box *ngIf="showLoginErrorMessageBox" text="Wrong e-mail or password."></app-message-box>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 p-5 pb-2 pt-0">
                <label for="basic-url" class="form-label form-input-label mb-0">E-mail</label>
                <div class="input-group mb-3">
                    <input type="text" class="form-control form-input" placeholder="E-mail" formControlName="email">
                </div>
                <p class="mt-0 pt-0 input-error" *ngIf="loginForm.get('email')?.hasError('required') && loginForm.get('email')?.touched == true"><span>Required</span></p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 p-5 pb-2 pt-0">
                <label for="basic-url" class="form-label form-input-label mb-0">Password</label>
                <div class="input-group mb-3">
                    <input type="password" class="form-control form-input" placeholder="Password" formControlName="password">
                </div>
                <p class="mt-0 pt-0 input-error" *ngIf="loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched == true" ><span>Required</span></p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                <button class="btn btn-danger signup-button" type="submit" [disabled]="!loginForm.valid">Login</button>
            </div>
        </div>
    </form>

</div>


<!--Background coffee bean-->
<div class="bean-container">
    <img src="../../../assets/images/coffebeanvector.png" alt="coffeebean" class="bean-image">
</div>

