<header class="header">
    <div class="row">
        <div class="col-3 p-0">
            <div class="logo">
                
            </div>
        </div>
        <div class="col-6 p-0">
            <nav class="navigation">
                <ul class="navigation-list m-0 p-0">
                    <li class="navigation-item">
                        <a class="navigation-link" routerLink="home" routerLinkActive="navigation-link-active">Home</a>
                    </li>
                    <li class="navigation-item">
                        <a class="navigation-link" routerLink="shop" routerLinkActive="navigation-link-active">Shop</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>