<div *ngIf="this.cartToggle" class="cart-overlay"></div>
<div class="full-page-cart"  [ngClass]="{'cart-deactive':!this.cartToggle}">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 class="cart-header">Cart</h3>
                <h5 class="cart-header">Total {{this.totalPrice | currency}}</h5>
                <ul class="cart-list">
                    <li class="cart-item" *ngFor="let product of this.cart">
                        <div>
                            <span class="cart-item-header"> {{product.product_name}} </span>
                            <span class="cart-item-count">x {{product.count}}</span>
                        </div>
                    </li>
                    <li class="cart-item" *ngIf="this.cart?.length==0">
                        <span class="cart-item-header">No items here</span>
                    </li>
                </ul>
            </div>
            
            <button class="btn btn-warning cart-buy-button" (click)="buy()"> Buy </button>
        </div>
    </div>
    <div class="cart-button" *ngIf="!this.cartToggle" (click)="openCartPanel()">
        <div class="cart-icon">
            <fa-icon [icon]="faCoffee" size="2x"></fa-icon>
        </div>
    </div>
    <div class="cart-button" *ngIf="this.cartToggle" (click)="closeCartPanel()">
        <div class="close-icon">
            <fa-icon [icon]="faClose" size="2x"></fa-icon>
        </div>
    </div>
</div>