<div class="container">
    <div class="row mt-5">
        <div class="col-12 offset-0 col-sm-12 offset-sm-0 col-md-4 offset-md-2">
            <select class="form-select" aria-label="category-select" [(ngModel)]="selectedCategory">
                <option *ngFor="let category of productCategories" [value]="category.id">{{category.category}}</option>
              </select>
        </div>
        <div class="col-12 offset-0 col-sm-12 offset-sm-0 col-md-4">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Enter coffee name here" [(ngModel)]="filter" >
                <button type="button" class="btn btn-warning action-button button-search" (click)="getCoffees()">Search</button>
            </div>
        </div>
    </div>

    <div class="row products-first-row">
        <div *ngFor="let product of products" class="col-12 offset-3 col-sm-5 offset-sm-1 col-md-4 offset-md-0 col-lg-3 offset-lg-0 product-column">
            <app-product [product]="product"></app-product>
        </div>
    </div>

</div>
<app-cart (onCartClosed)="onCartClosedHandler($event)"></app-cart>

<!--Background coffee bean-->
<div class="bean-container">
    <img src="../../../assets/images/coffebeanvector.png" alt="coffeebean" class="bean-image">
</div>
