.round{
    width: 320px;
    height: 320px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;

    position: relative;
    transform: translate(150px,220px);
    z-index: -1;
}
.product-image{
    width: 480px;
    position: relative;
    bottom:300px;
    left:-50px;
    transition: transform 0.4s;
}
.product-image:hover{

    transform: scale(1.1);
}
.info-container{
    padding-left: 200px;
    padding-top:120px;
}
.product-header{
    color: #4E2F2C;
    font-weight: 500;
    font-size: 64px;
}
.product-price{
    color: #FFB8B8;
    font-weight: 500;
    font-size: 42px;
}
.product-description{
    color: #665f54;
}

.comments{
    min-height: 300px;
    margin-bottom:150px;
}
.reviews-header{
    font-size: 42px;
    color: #4E2F2C;
    border-bottom: 1px solid #B7AC9B;
    padding-bottom:10px;
}
.comment-message{
    color: #665f54;
    font-size:16px;
}

.product-actions{
    width:60%;
    margin-left: 20%;
    margin-top:200px;
}
.button-product-card-add{
    width: 30%;
    margin-left: 3%;
    height: 40px;
    background-color: #C87D39;
    border: none;
    color:white;
    border-radius: 38px;
    z-index: 50;
}
.button-product-card-remove{
    width: 30%;
    height: 40px;
    color:white;
    background-color: #C87D39;
    border: none;
    border-radius: 38px;
}
.product-card-input{
    width: 30%;
    margin-left: 3%;
    height: 40px;
    text-align: center;
    font-weight: 600;
    border-radius: 38px;
    border: inherit;
}

.input-comment{

}
.button-comment{
    background-color: #C87D39;
    border:inherit;
    color:white;
}
.add-comment-container{
    margin : 50px 0px;
}

.input-error{
    color:#E4615D;
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { 
    .info-container{
        padding-left: 0;
        padding-top:0;
    } 
    .comment-section{
        margin-top:200px;
    }
}