<div class="container" *ngIf="this.product != null">
    <div class="row mt-5">
        <div class="col-12 col-md-4">
            <div class="round"></div>
            <img [src]="product.image " alt="coffee" class="product-image">
        </div>
        <div class="col-12 col-md-7 offset-md-1">
            <div class="info-container">
                <h1 class="product-header">{{product.name}}</h1>
                <h3 class="product-price"> {{product.price | currency}} </h3>
                <p class="product-description">{{product.description}}</p>
            </div>
            <div class="product-actions">
                <button (click)="removeItemFromCart(product)" type="button" class="btn btn-warning action-button button-product-card-remove">-</button>
                <input type="text" class="form-control" placeholder="0" [ngModel]="productCount" disabled class="product-card-input">
                <button (click)="addItemToCart(product)" type="button" class="btn btn-warning action-button button-product-card-add">+</button>
            </div>
            
        </div>
    </div>
    <div class="row" class="comment-section">
        <div class="headers">
            <h1 class="reviews-header">Reviews for {{product.name}}</h1>
        </div>
        <div class="write-comment">
            <form [formGroup]="addCommentForm" (ngSubmit)="onAddCommentFormSubmit()">
                <div class="add-comment-container">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control input-comment" placeholder="Enter your comment" formControlName="comment" >
                        <button type="submit" class="btn btn-warning action-button button-comment">Comment</button>
                    </div>
                    <small class="input-error" *ngIf="addCommentForm.get('comment').hasError('required') && addCommentForm.get('comment').touched">Please enter your comment</small>
                    <small class="input-error" *ngIf="addCommentForm.get('comment').hasError('maxlength') && addCommentForm.get('comment').touched">Comment can't exceed 50 characters</small>
                </div>
                
            </form>
            
        </div>
        <div class="comments">
            <div *ngIf="comments.length > 0">
                <div *ngFor="let comment of comments">
                    <h6 class="comment-user">{{comment.username}}</h6>
                    <p class="comment-message">{{comment.comment}}</p>
                </div>
            </div>
            <div *ngIf="comments.length == 0">
                This product has no comments yet
            </div>
        </div>
    </div>
</div>
<app-cart></app-cart>