.info-card{
    width: 215px;
    height: 250px;
    background-color: #4e2f2ce3;
    border-radius: 38px;
    border-top-left-radius: 150px;
    transition: transform 0.4s;
    z-index: 20;
}

.coffe-img{
    position: absolute;
    width: 215px;
    height: auto;
    transform: translate(-50px,-130px);
}

.round{
    width: 175px;
    height: 175px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    transform: translate(20px,-80px);
    z-index:-1;
 
}
.product-actions{
    height: 100%;
    padding-top:100px;
    padding: 110px 15px;
}

.product-name{
    color:#fff;
    font-weight: 500;
}
.product-description{
    color:#C87D39;
    margin:0;
}
.product-price{
    color:#FFB8B8;
    font-size: 20px;
    font-weight: 500;
}
.button-product-card-add{
    width: 30%;
    margin-left: 3%;
    height: 40px;
    background-color: #C87D39;
    border: none;
    color:white;
    border-radius: 38px;
    z-index: 50;
}
.button-product-card-remove{
    width: 30%;
    height: 40px;
    color:white;
    background-color: #C87D39;
    border: none;
    border-radius: 38px;
}
.product-card-input{
    width: 30%;
    margin-left: 3%;
    height: 40px;
    text-align: center;
    font-weight: 600;
    border-radius: 38px;
    border: inherit;
}
.arrow{
    position: absolute;
    width: 32px;
    height: 32px;
    transform: translate(170px,15px);
    color:#fff;
    text-align: center;
    font-size: 140%;
    cursor:pointer;
}